@import '../appStyles.scss';
@import '../color-variables.scss';
@import '../_mixins.scss';

.main-range {
  display: flex;
  align-items: center;
  justify-self: auto;
  margin-right: 12px;
  color: $Paragraph1;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  input {
    background: unset;
    border: 1px solid $Line;
    max-width: 106px;
    color: $Paragraph1;
    border-radius: 6px;

    &::placeholder {
      font-size: 12px;
    }
  }
}

.main-single-range {
  width: 100%;
  border: 1px solid $Line;
  padding-left: 6px;
  border-radius: 6px;
  padding: 2px 8px 4px;

  .start-input {
    width: 92px;
  }

  .end-input {
    flex: 1;
  }
  input {
    padding: 0 6px;
    background: unset;
    border: none;
    color: $Paragraph1;
    &::placeholder {
      font-size: 12px;
    }
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
  span {
    line-height: 32px;
    color: $Paragraph1;
  }
  .icon {
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }
  &.disabled {
    span {
      opacity: 0.4;
    }
  }
}
