@import '../color-variables.scss';
@import '../_mixins.scss';

$headerHeight: 80px;

.header {
  width: 100vw;
  background: linear-gradient(to bottom, #2976fc, #0250be);
  height: $headerHeight;
  margin-bottom: 4px;
  position: fixed;
  z-index: 1000;
  top: 0;
  align-items: center;
  padding: 0 60px;
  font-size: 24px;
  font-weight: 700;
}

.header-homepage {
  width: 100vw;
  background: linear-gradient(to bottom, #2976fc, #0250be);
  margin-bottom: 4px;
  top: 0;
  align-items: center;
  padding: 0 60px;
  font-size: 24px;
  font-weight: 700;
}

.sub-header-homepage {
  width: 100vw;
  height: $headerHeight;
  margin-bottom: 4px;
  z-index: 1000;
  top: 0;
  align-items: center;
  padding: 0 60px;
  font-size: 24px;
  font-weight: 700;
  flex-direction: column;
  max-width: 1440px;
  gap: 30px;
  .chakra-input {
    border-radius: 40px;
  }
}

.menu-header {
  background-color: $Card2 !important;
  border: 0 !important;

  .user-info {
    background-color: $Card2 !important;

    &.logout {
      color: #ee5d50 !important;
    }

    &:hover {
      background-color: $Title !important;
    }

    span {
      &:last-child {
        transform: translateX(-5px);
      }

      &:first-child {
        transform: translateX(5px);
      }
    }

    .arrow-logout {
      transform: translateX(-70%);
      transition: all linear 0.5s;
    }

    &:hover {
      .arrow-logout {
        transform: translateX(-50%);
      }
    }
  }
}

.container-page {
  // margin-top: 84px;
  height: 100%;

  &__content {
    margin-left: 4px;
    background-color: $BackGround;
    width: calc(100% - 304px);
    padding: 30px 40px;
    min-height: calc(100vh - 84px);
  }
}

.guest-page {
  &__container {
    margin-top: 84px;
  }
}

.back-to-top-button {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1e72ff;
  color: $Title;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  width: 40px;
  height: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
  &:hover {
    background-color: #0250be;
    color: #f4f6f9;
  }
}
