@import '../color-variables.scss';
@import '../_mixins.scss';

.nav-bar {
  background: linear-gradient(to bottom, #1e72ff, #0250be);
  min-height: calc(100vh - 84px);
  padding: 30px 0;
  height: 100%;
  position: fixed;
  width: 300px;

  &__menu-item {
    padding: 15px 30px;
    margin-bottom: 5px;
    align-items: center;
    cursor: pointer;
    color: $Title;
    position: relative;

    svg {
      margin-right: 20px;
      color: $Title;
    }

    &:hover,
    &.active {
      background-color: $Title;
      color: $BackMain;

      svg {
        color: $BackMain;
      }
    }
  }

  &__menu-path-child-item {
    margin-left: 40px;
    padding: 15px 30px;
    margin-bottom: 5px;
    align-items: center;
    cursor: pointer;
    color: $Title;
    position: relative;

    svg {
      margin-right: 20px;
      color: $Title;
    }

    &:hover,
    &.active {
      background-color: #0250be;
      color: $BackMain;

      svg {
        color: $BackMain;
      }
    }
  }
  &__menu-drop {
    padding: 15px 30px 0;
    margin-bottom: 5px;
    align-items: center;
    cursor: pointer;
    color: $Title;

    .sidebar-drop {
      &__icon {
        position: absolute;
        right: 0;
        margin: 1px 40px 0 0;
        transition: transform 0.5s ease; // Thêm transition cho icon
        &.active {
          transform: rotate(90deg);
        }
      }
      &__item {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out, padding-bottom 0.4s ease-in-out; // Thêm transition cho dropdown item
        &.active {
          max-height: 100px;
        }
        &-title {
          height: 30px;
          transition: background-color 0.4s ease, color 0.4s ease; // Thêm transition cho item title
          &:hover,
          &.active {
            background-color: $Title;
            color: $BackMain;
          }
        }
      }
    }
  }
}
