@import '../color-variables.scss';
@import '../_mixins.scss';

.nav-bar {
  background: linear-gradient(to bottom, #1e72ff, #0250be);
  min-height: calc(100vh - 84px);
  padding: 30px 0;
  height: 100%;
  position: fixed;
  width: 300px;

  &__menu-item {
    padding: 15px 30px;
    margin-bottom: 5px;
    align-items: center;
    cursor: pointer;
    color: $Title;

    .sidebar-drop {
      &__icon {
        position: absolute;
        right: 0;
        margin: 5px 15px 0 0;
        transition: 0.3s ease;
      }
      &__item {
        display: none;
      }
    }

    svg {
      margin-right: 20px;
      color: $Title;
    }

    &:hover,
    &.active {
      background-color: $Title;
      color: $BackMain;

      svg {
        color: $BackMain;
      }
    }
  }
}
