@import '../color-variables';
@import '../_mixins.scss';

.product-container {
  background: $Pink-100;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;

  .product-image {
    position: absolute;
    top: -11px;
    left: calc((100% - 321px) / 2);
  }
  .product-title {
    user-select: none;
    position: absolute;
    top: -8px;
    left: calc((100% - 175px) / 2);
    font-size: 18px;
    font-weight: 700;
  }

  & .product--card {
    width: calc(100% / 6 - 20px);
    padding: 15px 30px;
    background-color: $Title;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Chỉnh transition cho background-color và transform */

    &:hover {
      opacity: 0.8;
      border: 1px solid $Paragraph1;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      transform: scale(1.05);
    }

    &-image {
      width: 128px;
      height: 128px;
      border-radius: 8px;
    }

    &-name {
      white-space: wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-size: 12px;
      max-width: 150px;
      cursor: pointer;
      color: $Black;
    }

    &-price {
      font-size: 16px;
      font-weight: 600;
      color: $Blue-500;
    }
    &-unit {
    }
  }
}
