@import '../color-variables';
@import '../_mixins.scss';

.infor-name {
  &__label {
    margin-top: 5px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #b8bfcc;
  }

  &__value {
    font-family: InTer, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $Black;
    margin-bottom: 5px;
  }

  &__border {
    border-top: 1px solid $Line2;
  }
}

.info-list {
  width: 100%;
  border: 1px solid $Line2;
  border-radius: 8px;
  max-height: 500px;
  overflow-y: auto; /* Tạo thanh cuộn dọc nếu nội dung vượt quá max-height */

  &::-webkit-scrollbar {
    width: 2px; /* Đặt độ rộng của thanh cuộn */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $Blue-150; /* Đặt màu nền cho "nút kéo" */
    border-radius: 4px; /* Đặt góc bo tròn cho "nút kéo" */
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Đặt màu nền cho phần track của thanh cuộn */
  }
}
