$Main: #5367fe;
$Title: #fff;
$Paragraph1: #a4a7b7;
$Paragraph2: #6c7080;
$Paragraph3: #9295a6;
$Line: #414558;
$Card: #121318;
$Card2: #21232f;
$Card3: #1c1d23;
$Card4: #23242c;
$BG: #080808;
$Green: #0ecb81;
$Red: #f6465d;
$Red1: #ff0000;
$Border: #282a38;
$Yellow: #e6a80f;
$Purple: #da1df9;
$Pastel: #03cbf7;
$Hover1: #3346d4;

$BackMain: #2167df;
$Black: #000000;
$Hover: #4490ec;
